body{
    margin: 0;
}

.App{
    width: 100%;
    height: 100%;
    margin: 0;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: auto 99px;  
}
.right-corner{
    display: flex;
    align-items: center;
    gap: 42px;
}
.border{
    flex: 1 0 0;
    align-self: stretch;
    background-image: linear-gradient(to right, #F6852A , #2B7786);
    width: 100%;
    height: 18px;
}
.toggle-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 133px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 98px;
    background: #4D7FFD;
    margin: 200px 27px 700px 1280px ;
}
.left-end{
    width: 57px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 8px 67px 8px 9px;
}
 .promp-container {
    position: fixed;
    display: flex;
    width: 95%;
    height: 86px;
    padding: 8px 31px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 44px;
    border: 3px solid #125FDE;
    background: #EEE;
    bottom: 0;
    margin: 0 3px 0 10px;
    /* flex-direction: column; */
}
.sent-icon{
    width: 60px;
height: 41px;
flex-shrink: 0;
stroke-width: 3px;
stroke: #125FDE;
}

.sent-button{
    display: flex;
width: 80px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
}
.sun{
    margin: 7px 8px 8px 8px;
}

.right-end{
    width: 57px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 57px;
    background: #FFF;
    margin: 8px 10px 8px 66px;
}
 .halfmoon{
    margin: 10px 10px 10px 10px;
 }