body{
    margin: 0;
}

.App{
    width: 100%;
    height: 100%;
    margin: 0;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: auto 99px;  
}
.right-corner{
    display: flex;
    align-items: center;
    gap: 42px;
}
.border{
    flex: 1 0 0;
    align-self: stretch;
    background-image: linear-gradient(to right, #F6852A , #2B7786);
    width: 100%;
    height: 18px;
}
.toggle-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 133px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 98px;
    background: #4D7FFD;
    margin: 200px 27px 700px 1280px ;
}
.left-end{
    width: 57px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 8px 67px 8px 9px;
}

.promp-container {
    position: fixed;
    display: flex;
    width: 95%;
    height: 70px;
    padding: 8px 31px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 44px;
    border: 3px solid #125FDE;
    background: #EEE;
    bottom: 10px;
    margin: 0 3px 0 10px;
}

.promp-box {
    display: flex;
    width: 100%;
    align-items: center;
}

.sent-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 100%;
    margin: 0 0 0 auto;
}

.sent-icon {
    width: 60px;
    height: 41px;
    flex-shrink: 0;
    stroke-width: 3px;
    stroke: #125FDE;
    cursor: pointer;
}
.sun{
    margin: 7px 8px 8px 8px;
}

.right-end{
    width: 57px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 57px;
    background: #FFF;
    margin: 8px 10px 8px 66px;
}
 .halfmoon{
    margin: 10px 10px 10px 10px;
 }
 .promp-text{
    color: #000;
    font-family: "Poppins";
    font-style: normal;
    line-height: normal;
    width: auto;
    height: auto;
    
 }
 
 .box1{
    cursor: pointer;
 }
 .box2{
    cursor: pointer;
 }
 
.loading {
    width: 30px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,rgb(233, 16, 63) 90%,#0000);
    --_v: no-repeat radial-gradient(circle closest-side,rgb(84, 216, 23) 90%,#0000);
    --_y: no-repeat radial-gradient(circle closest-side,rgb(29, 228, 235) 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_v) 50%  50%,
      var(--_y) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
      20%{background-position:0%   0%, 50%  50%,100%  50%}
      40%{background-position:0% 100%, 50%   0%,100%  50%}
      60%{background-position:0%  50%, 50% 100%,100%   0%}
      80%{background-position:0%  50%, 50%  50%,100% 100%}
  }